<div class="element ">
  <h1 class="display-4">Ceci est un demi bloc</h1>
  <p>
    Lorem ipsum dolor sit amet, homero labores disputationi usu ne, an solet laudem his. Veniam utamur atomorum ad mel, solum vidisse cum cu, erat lorem pro id. Sint ignota commodo eos eu, et qui postea consequuntur. Vim fastidii deterruisset no, conceptam voluptatibus ut mea.
    Lorem ipsum dolor sit amet, homero labores disputationi usu ne, an solet laudem his. Veniam utamur atomorum ad mel, solum vidisse cum cu, erat lorem pro id. Sint ignota commodo eos eu, et qui postea consequuntur. Vim fastidii deterruisset no, conceptam voluptatibus ut mea.
    Lorem ipsum dolor sit amet, homero labores disputationi usu ne, an solet laudem his. Veniam utamur atomorum ad mel, solum vidisse cum cu, erat lorem pro id. Sint ignota commodo eos eu, et qui postea consequuntur. Vim fastidii deterruisset no, conceptam voluptatibus ut mea.
  </p>
</div>
